@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    font-family: 'Lato', sans-serif;
}


.logs-list{
    max-width: 700px;
    margin: 7% auto 0;
    padding: 0 20px;
}

.logs-list input{
    margin-bottom: 20px;
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid rgba(0, 102, 153);
    background: none;
    margin-top: 10px;
    color: rgba(0, 102, 153);
}

.submit-lente {
    position:absolute;
    top:0; right:0;
    z-index:10;
    border:none;
    background:transparent;
    outline:none;
    line-height: 45px;
  }
.submit-lente:focus{
    border:none;
    outline:none;
}

  
  .submit-line {
    position: relative;
  }
  
  .submit-line input {
    width: 100%;
  }
.logs-list article{
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.logData{
    max-height: 100px;
    overflow: hidden;
}
.logs-list article p{
    font-size: 16px;
    color: #999;
    margin-top: 5px;
    line-height: 24px;
}

.logs-list article button{
    width: 100%;
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgba(0, 102, 153);
    background: none;
    margin-top: 10px;
    color: rgba(0, 102, 153);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
    line-height: 36px;
    transition: all 0.2s;
}

.logs-list article button:hover{
    background: rgba(0, 102, 153);
    color: #FFF;
}

.logs-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.logs-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background:  rgba(0, 102, 153);
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.logs-list .actions button:hover{
    opacity: 0.7;
}

.logs-list .actions button:disabled{
    opacity: 0.5;
}

.navegacao{
    top: 0px;
    margin: 0;
    padding: 0 ;
    width: 100%;
    height: 60px;
    background:  rgba(0, 102, 153);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 2px white;
    z-index: 99;
}
.logo{
    width: 150px;
    margin-left: 10px;
}
.tituloPrincipal{
    font-size: 30px;
    color: white;
    font-weight: bold;
    line-height: 60px;
}
.opcaoSaidaVoltar{
    font-size: 20px;
    color: white;
    padding-right: 10px;
}
.opcaoSaidaVoltar:hover{
    cursor: pointer;
    color: yellowgreen;
}

.fundo{
    background: url('./imagens/capa.jpg');
    overflow-x: hidden;	
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box{
    width: 360px;
    height: 240px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
}
.loginTopo{
    width: 100%;
    height: 50px;
    background-color:  rgba(0, 102, 153);
    align-content: center;
    text-align: center;
    position: relative;
    top: 0px;
}
.loginTopo h3{
    color: white;
    line-height: 50px;
}
.inputLogin{
    width: 310px;
    height: 35px;
    padding-left: 5px;
    margin: 15px;
    outline: none;
}
.inputLogin:hover{
    outline:auto rgba(0, 102, 153, 0.4);
}
#esqueciASenha{
    color: blue;
    font-size: smaller;
    cursor: pointer;
    margin-right: 10px;
    text-decoration: none;
    margin-bottom: 5px;
}

#esqueciASenha:hover{
    color: yellowgreen;
    cursor: pointer;
}
.btnPadrao{
    background: rgba(0, 102, 153);
    border-radius: 5px;
    border: none;
    color: white;
    width: 100px;
    height: 30px;
}
